#cat__detail-container {
	position: absolute;
	width: 375px;
	height: 100vh;
	overflow-y: scroll;
}

#cat_details-close-btn {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 319px;
	top: 20px;
	border-radius: 50%;
	border: 0;
	background: #ffffff;
	z-index: 1;
}

#cat_details-close-btn > img {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 8px;
	left: 8px;
}

#cat__detail-image {
	position: absolute;
	height: 330px;
	width: 375px;
	top: 0;
	left: 0;
}

#cat__detail-name {
	position: absolute;
	left: 24px;
	top: 354px;

	margin: 0;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 120%;
	/* identical to box height, or 34px */
	color: #143154;
}

#cat__detail-age {
	position: absolute;
	width: 159px;
	height: 19px;
	left: 24px;
	top: 392px;
	margin: 0;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 120%;
	/* or 19px */

	color: #143154;
}

#cat__detail-liked,
#cat__detail-like {
	position: absolute;
	width: 112px;
	height: 36px;
	left: 239px;
	top: 361px;

	background: #ffffff;
	border-radius: 44px;
}

#cat__detail-liked {
	background: #f46d5c;
}

#cat__detail-liked > img,
#cat__detail-like > img {
	position: relative;
	left: 25.29px;
	top: 11.5px;

	width: 17.42px;
	height: 15.19px;
}

#cat__detail-liked > img {
	left: 22.29px;
}

#cat__detail-liked > p,
#cat__detail-like > p {
	position: relative;
	width: 68px;
	height: 21px;
	left: 34px;
	bottom: 25px;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 120%;
	/* or 19px */
	text-align: center;
	color: #f46d5c;
}

#cat__detail-liked > p {
	color: #ffffff;
}

#cat__detail-description {
	position: absolute;
	width: 327px;
	height: 168px;
	left: 24px;
	top: 432px;
	margin: 0;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: #143154;
}

#owner__details {
	position: absolute;
	left: 20px;
	right: 20px;
	top: 643px;
	bottom: 56px;

	width: 335px;
	height: 190px;
	background: #ffffff;
	border-radius: 16px;
}

#owner__details-name {
	position: relative;
	left: 17px;
	width: 212px;
	height: 22px;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 120%;
	color: #143154;
}

#owner__details-list {
	display: grid;
	position: absolute;
	width: 335px;
	height: 152px;
	grid-template-columns: 81px 207px;
	grid-template-rows: repeat(3, 19px);
	grid-gap: 17px 8px;
	left: 18px;
	top: 38px;
	list-style-type: none;
	padding-left: 0;
}

.owner__details-list-contact {
	width: 81px;
	height: 19px;
	left: 38px;
	top: 697px;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #143154;
}
.owner__details-list-contact-info {
	width: 207px;
	height: 19px;
	left: 127px;
	top: 697px;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 120%;
	color: #7b9abf;
}
