/* .cats__container {} is in App.css */

#no-like-message {
	position: absolute;
	width: 201px;
	height: 48px;
	left: 62px;
	top: 133px;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
	color: #b3bdd2;
}
