#cat__card {
	width: 159px;
	height: 230px;
	background-color: #faf4f0;
	left: 20px;
	border-radius: 10px;
}

#cat__card-image {
	position: relative;
	width: 159px;
	height: 140px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#cat__card-name {
	position: relative;
	left: 16px;
	height: 19px;
	width: 159px;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 120%;
	/* or 19px */
	color: #143154;
}

#cat__card-owner {
	position: relative;
	left: 16px;
	width: 66px;
	height: 28px;
	bottom: 10px;

	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 120%;
	/* or 14px */
	color: #143154;
}

#cat__card-like {
	position: relative;
	left: 107px;
	bottom: 71px;
	z-index: 1;
	border-radius: 50%;
	border: 0;
	background-color: #ffffff;
	height: 36px;
	width: 36px;
}

#cat__card-like img {
	position: absolute;
	top: 10px;
	left: 7.5px;
}
